/*
// Created: July 4, 2017 5:35 AM
// Author: Jonathan Gryn
// Revisions: Jon (7/4/17) - Added Style
//            Jon (9/7/17) - Adjusted CSS
*/

body {
  background: url('../images/background_opacity0.1.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;  
}

.jumbotron {
    padding: 0.5em 0.6em;
    margin: 1.0em 0.0em 1.0em 0.0em;
    opacity: 0.7;
}

.jumbotron h1 {
  font-size: 4em;
    color: #0c1a63;
}

.jumbotron h2 {
  font-size: 2em;
    color: #1a34b8;
}

.character-image {
  display: inline-block;
    height: 145px;
  padding: 0px 20px 0px 20px;
  margin: 0px 2px 0px 2px;
  background-color: white;
  border: solid;
  border-color: green;
}

.character-image p {
  text-align: center;
  margin: 0px 2px 0px 2px;
}

#chosen-character {
  height: 190px;
}

#chosen-character h2 {
  font-size: 2em;
    color: #485bf0;
}

.chosen-character {
  border-color: #dd48f0;
  background-color: #5bf048;
}

#enemies-available h2 {
  font-size: 2em;
    color: #8948f0;
}

.enemy-character {
  border-color: #48f0dd;
  background-color: #f0485b;
  margin: 0px 2px 0px 2px;
}

#fight-section h2 {
  font-size: 2em;
    color: #f0485b;
}

#defender-section {
  height: 210px;
}

#defender-section h2 {
  font-size: 2em;
    color: #f0485b;
}

.defender-character {
  border-color: #485bf0;
  background-color: #f0dd48;
}

#game-message {
  font-size: 1.5em;
  font-weight: bold;
    color:  #f0dd48;
}

/* Google Fonts to choose from:
font-family: 'Press Start 2P', cursive;
font-family: 'Share Tech Mono', monospace;
font-family: 'VT323', monospace; */

/*body {
  font-family: 'Share Tech Mono', monospace;
  color: white;
}

/* @font-face {
  font-family: "STJEDISE";
  src= url(star_jedi/stjedise/STJEDISE.TFF);
}
h1 {
  font-family: STJEDISE;
} */

.modal-body {
  color: black;
}
.modal-header {
  color: black;
}
#starwars {
  background-color: rgba(0, 0, 0, 0.5);
}
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -60px;
}
#push, #footer {
  height: 60px;
}

/* Classes available */
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.characterContainer {
  display: inline-block;
  width: 200px;
  /*border: solid 4px black;*/
  margin-bottom: 10px;
  margin-right: 10px;
  border-radius: 7px;
  background-color: rgba(0, 0, 0, 0.5);
}
.bg-red {
  background-color: #ce2121;
}
.bg-whtie {
  background-color: white;
}
.bg-black {
  background-color: grey;
}
.enemyContainer {
  display: inline-block;

  /* height: 200px; */
  width: 200px;
  border: solid 4px black;
  margin-bottom: 10px;
  background-color: black;
  border-radius: 7px;
}
.characterContainer p, .enemyContainer p {
  color: white;
  text-align: center;
}
img {
	height: 100px;
	width: 150px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.attackBtn {
  vertical-align: middle;
  margin-top: 80px;
}
#attackText {
  font-size: 25px;
}
#characterList {
  
},
#enemyList {

},
#yourCharacter {

},
#yourEnemy {

	},*/
